.createPost 
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
    input, textarea, button
        width: 50%
    textarea
        height: 200px
        