@import 'mixin'

.createPost 
    display: flex
    flex-direction: column
    margin: 0 auto
    textarea
        height: 200px


@include mobile
    .createPost
        input, textarea, button
            width: 90%
        