.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FF5252;
  height: 80px; }

.headerTitle {
  color: #fff; }

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .posts h1 {
    text-align: center; }
  .posts p {
    letter-spacing: 1px;
    line-height: 23px;
    width: 50%; }

@media (min-width: 200px) and (max-width: 799px) {
  .posts p {
    width: 90%; } }

.backendNavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .backendNavigation h2 {
    margin: 5px; }

.createPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto; }
  .createPost textarea {
    height: 200px; }

@media (min-width: 200px) and (max-width: 799px) {
  .createPost input, .createPost textarea, .createPost button {
    width: 90%; } }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .navigation h2 {
    margin: 5px; }

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif; }

p, span {
  font-family: 'Lato', sans-serif; }

a {
  text-decoration: none;
  color: inherit; }
